<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--    FYI. База данных называется "cars"-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/todo</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Okhorzina2912</property>
        <!--    Размер пула увеличил до 10. 1 оказалось мало-->
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--    Показывать SQL запросы, которые формирует Hibernate-->
        <property name="hibernate.show_sql">true</property>
        <!--    Показывать SQL запросы в удобочитаемом виде-->
        <property name="hibernate.format_sql">true</property>
        <!--    Диалект нужен, чтобы Hibernate не ругался на запросы, которые характерны для
                определенной версии PostgreSQL. В нашем случае версия 10 и выше-->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>


    </session-factory>
</hibernate-configuration>