<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--    Чтобы работал выпадающий список в навигационной панели, требуется
            добавить эту зависимость, иначе ничего выпадать не будет!   -->
    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <!--    Здесь я задал стиль для body и футера таким образом,
            чтобы наш футер всегда был внизу, вне зависимости от того,
            много контента на странице или мало-->
    <style>
        body {
            min-height: 100vh;
        }
        footer {
            position: sticky;
            top: 100%;
        }
    </style>

    <title>All tasks</title>
</head>
<!--    Эта строка позволяет добавить иконку сайта. Главное, чтобы картинка была доступна.
        Один раз здесь написал и хватит - на других страницах она не нужна-->
<link rel="shortcut icon" th:href="@{/images/icon-ok.svg}"/>
<body>
    <div class="container-fluid p-0">
        <!--    С помощью тега <header> и атрибута insert мы вставляем общий компонент страницы (блок навигации, который мы вынесли отдельно)-->
        <header th:insert="blocks/header :: header"></header>
        <div class="container">
            <div class="row">
                <table class="table table-stripped table-borderless table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task: ${tasks}">
                        <!--    <td> обозначает ячеку таблицы. В этой ячейке можно
                                вносить инфу по строкам. <row> обозначает строку в таблице.
                                Так мы в одной строке уместили год, жанр, длительность фильма
                                и пр. аттрибуты. Тег <span> можно использовать для текста.
                                Для всей ячейки мы задали стиль. Собсно стиль заключается
                                в размере шрифта.-->
                        <td style="font-size: 16px">
                            <row>
                                <!--    Стиль style="text-decoration:none" убирает нижнее подчеркивание,
                                        когда наводишь курсор на текст, который является ссылкой    -->
                                <a style="text-decoration:none" class="h5" th:text="${task.getTitle()}"
                                   th:href="@{/tasks/{id}(id=${task.getId()})}"/>
                            </row>
                        </td>
                        <td style="font-size: 16px">
                            <row class="h5" th:text="${#temporals.format(task.getCreated(), 'dd/MM/yyyy HH:mm')}"></row>
                        </td>
                        <!--    Чтобы заменить сухие "true" или "false" на что-то более информативное,
                                можно так же использовать switch-case блок. Аккуратно и удобно  -->
                        <td style="font-size: 16px" th:switch="${task.isDone()}">
                                <row class="h5" th:case="true" th:text="'complete'"></row>
                                <row class="h5" th:case="false" th:text="'in progress'"></row>
                        </td>
                        <!--    Данный блок окрашивает текст в зависимости от приоритета.
                                Если приоритет "urgently", то значит это важно и текст соответственно
                                окрашивается красным цветом. Всего в нашем ассортименте 2 приоритета-->
                        <td style="font-size: 16px" th:switch="${task.priority.name}">
                            <row class="h5" th:case="'urgently'">
                                <row class="h5 text-danger" th:text="${task.priority.name}"></row>
                            </row>
                            <row class="h5" th:case="'normal'">
                                <row class="h5 text-warning" th:text="${task.priority.name}"></row>
                            </row>
                        </td>
                        <td style="font-size: 16px">
                            <row class="h5" th:text="${task.getUser().name}"></row>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <br>
            </div>
            <!--    Ниже начинается кусок верстки с использованием модального окна. Да, мне таки удалось его внедрить!
                    Благодаря использованию модального окна, мне не пришлось верстать страницу создания задачи (на самом деле пришлось..).
                    Также удалось избавиться от лишнего метода GET, который открывал бы страницу создания задачи.
                    Ниже, аккурат под таблицей находится спец кнопка, которая вызывает модальное окно.  -->
            <div class="row">
            <button type="button" class="btn btn-outline-success w-25" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add task</button>
            </div>
            <!--    Ниже вся верстка посвящена непосредственно модальному окну. Тяжело было его внедрять, т.к.
                    не удавалось найти рабочих решений. Методом проб и ошибок сформировался такой блок -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form th:action="@{/tasks/create}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create task</h5>
                            </div>
                            <div class="modal-body">
                                    <div class="mb-3">
                                        <!--    Интересный факт. Если в input строке забыть про поле name="",
                                                то задача будет создана с пустыми полями, т.к. у нас нет ограничений по таблице вроде NOT NULL-->
                                        <label for="name" class="col-form-label">Title</label>
                                        <input type="text" class="form-control" id="name" name="title" placeholder="Specify your task briefly">
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="col-form-label">Description</label>
                                        <textarea class="form-control" id="description" name="description" style="height: 100px" placeholder="Describe your task in detail"></textarea>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-2">Task priority</div>
                                        <div class="col-4">
                                            <!--    В данном блоке происходит выбор приоритета задачи и передача
                                                    объекта Priority с фронта на бэкэнд. Далее контроллер TaskController
                                                    обрабатывает запрос, в котором содержится объект Priority,
                                                    который мы передаем, указав name="priority.id". В контроллере
                                                    дополнительных манипуляций проделывать не нужно - Spring все
                                                    сделает за нас-->
                                            <select class="form-control" id="priority" name="priority.id">
                                                <option th:each="priority : ${priorities}" th:value="${priority.id}" th:text="${priority.name}" th:selected="${priority.id}"></option>
                                            </select>
                                        </div>
                                        <div class="col-6"></div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal" th:href="@{/tasks}">Cancel</a>
                                <button class="btn btn-success w-25" type="submit">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--    Вызов Footer добавляется в конце HTML страницы -->
<footer th:insert="blocks/footer :: footer"></footer>
</html>