<!doctype html>
<html lang="en">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--    Чтобы работал выпадающий список в навигационной панели, требуется
            добавить эту зависимость, иначе ничего выпадать не будет!   -->
    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <!--    Здесь я задал стиль для body и футера таким образом,
            чтобы наш футер всегда был внизу, вне зависимости от того,
            много контента на странице или мало-->
    <style>
        body {
            min-height: 100vh;
        }
        footer {
            position: sticky;
            top: 100%;
        }
    </style>

    <title>Edit</title>
</head>
<!--    Эта строка позволяет добавить иконку сайта. Главное, чтобы картинка была доступна.
        Один раз здесь написал и хватит - на других страницах она не нужна-->
<!--<link rel="shortcut icon" th:href="@{/images/icon-ok.svg}"/>-->
<body>
<div class="container-fluid p-0">
    <!--    С помощью тега <header> и атрибута insert мы вставляем общий компонент страницы (блок навигации, который мы вынесли отдельно)-->
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <div class="col-3"></div>
        <div class="col-9">
            <!--  По URI /tasks/update будет отправлена форма для редактирования (method=POST)
                  Аттрибут th:object="${task}" позволяют сделать двустороннее связывание нашего объекта и формы HTML.
                  Двустороннее оно, потому что данные извлекаются из объекта и проставляются в HTML и, наоборот,
                  при изменении формы меняется и наш объект. Через th:object указывает связываемый объект, а в th:field его поля    -->
            <form class="mt-5" style="font-size: 14px" th:action="@{/tasks/update}" method="post" th:object="${task}">
                <!--  Аттрибут th:field="*{поле}" также позволяют сделать двустороннее связывание нашего объекта и формы HTML.
                      Мы на страницу выводим id, но делаем его скрытым (hidden). Это позволяет при обработке формы узнать какая вакансия меняется.
                      Обрати внимание, если у тебя id в блоке <th:field="*{id}"> подсвечен, значит у тебя действия
                      проводятся не над объектом, а скорее всего над Optional<Task>. Проверь, чтобы в контроллере
                      возвращался именно объект, а не Optional.  -->
                <input type="hidden" name="id" th:field="*{id}">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <div>
                            <label for="taskName" class="form-label"><b>Title</b></label>
                            <input type="text" class="form-control" id="taskName" name="title" th:field="*{title}" placeholder="Specify your task briefly">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <div class="mb-3">
                            <label for="description" class="form-label"><b>Description</b></label>
                            <!--  Аттрибут "rows" позволяет выбирать произвольную высоту формы.
                                  Т.е. пользователь сам меняет размер формы оп высоте.
                                  Если требуется выставить конкретную высоту формы, то следует использовать
                                  аттрибут style="height: 300px" например-->
                            <textarea class="form-control" id="description" name="description" th:field="*{description}" style="height: 150px" placeholder="Describe your task in detail"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-2">
                                    <label for="description" class="form-label"><b>Priority</b></label>
                                </div>
                                <div class="col-10">
                                    <select class="form-control" id="priority" name="priority.id">
                                        <option th:each="priority : ${priorities}" th:value="${priority.id}" th:text="${priority.name}" th:selected="${priority.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4"><a class="btn btn-success w-100" th:href="@{/tasks/complete/{id}(id=${task.getId()})}">Complete</a></div>
                            <div class="col-4"><a class="btn btn-danger w-100" th:href="@{/tasks/delete/{id}(id=${task.getId()})}">Delete</a></div>
                            <div class="col-4"><button class="btn btn-warning w-100" type="submit">Update</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!--    Вызов Footer добавляется в конце HTML страницы -->
<footer th:insert="blocks/footer :: footer"></footer>
</html>