<!--Footer – это элемент веб-страницы, располагающийся в нижней части страницы или, как часто говорят, в подвале сайта-->
<!--Этот элемент полностью противоположен хедеру / шапке-->
<!--Его основное назначение заключается в размещении дополнительной информации, полезных и технических ссылок-->
<div th:fragment="footer">
    <!--    Чтобы прижать весь этот блок (он же футер у нас),
            следует добавить "fixed-bottom" в конце.
            Но помни, что в какой-то момент твоя верстка может нехать на футер.
            Для Full HD мониторов лучше оставить без fixed-bottom, т.к.
            там помещается мало информации и футер обычно уходит вниз.-->
    <footer class="text-center">
        <!-- Grid container -->
        <div class="container p-3">
            <!--Grid row-->
            <!--Горизонтальное выравнивание по центру с помощью justify-content-center-->
            <div class="row justify-content-center">
                <!--Grid column-->
                <!--Example - col-md-4
                    col (column) — столбец строки
                    md — идентификатор устройства
                    4 — количество условных единиц(столбцов) ширины будет занимать блок, из 12
                    ** col-md-*: для устройств с шириной экрана от 992 пикселя и выше
                    ** lg-*: для устройств с шириной экрана от 1200 пикселей и выше
                    ** col col-md-2 - это мы сжали наше пространство до 2 столбцов
                    ** offset-md-1 - для сдвига колонки вправо на 1 столбец-->
                <div class="col col-md-2">
                    <h5 class="text-uppercase">project</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a style="font-size: 14px" href="https://github.com/Constantine-M/job4j_todo" class="text-dark">TODO</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-md-2">
                    <h5 class="text-uppercase">contacts</h5>
                    <!--** list-unstyled - для создания нумерованных и маркированных списков без использования стилей
                        необходимо применить класс .list-unstyled к соответствующим тегам <ul> или <ol>
                        ** mb-0 - margin и padding отступы (изнутри наружу: контент -> padding (внутренний отступ) -> margin (внешний отступ))
                        {property}{sides}-{breakpoint}-{size} для sm, md, lg, и xl
                        Вместо {property} необходимо указать первую букву названия отступа, т.е. m или p (m – для margin, p – для padding)
                        Вместо {sides} необходимо указать сторону (t - для задания отступа только сверху, b – снизу, l – слева, r – справа)
                        или несколько сторон (x – слева и справа, y – сверху и снизу).
                        Если {sides} не указать, то тогда отступ будет установлен для всех 4 сторон элемента
                        Вместо {size} необходимо задать величину отступа-->
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a style="font-size: 14px" href="https://t.me/ConstaMezenin" class="text-dark">Telegram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: #F4A460; font-size: 14px">
            <a class="text-dark" href="https://github.com/Constantine-M">GitHub</a>
        </div>
    </footer>
</div>